{% extends 'layout.html' %}

{% block title %} Inicio {%endblock%}

{% block main %}
    <form action="{% url 'crearAutor' %}" method="post">
        {% csrf_token %}
        <h1>Crear Autores</h1>
        <label>{{form.name}}</label>

        <button type="submit">Crear</button>
    </form>
    <hr>
    
    <h1>Buscador de Autores</h1>
    
    <form action="{% url 'buscador' %}" method="post">
        {% csrf_token %}
        <input type="text" name="buscar">

        <button type="submit">Buscar</button>
    </form>
    <hr>

    <h1>Autores de Libros</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
            {% for i in autor %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.name}}</td>
            <td><a href="{% url 'eliminarAutor' i.id %}"><button>Eliminar</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{%endblock%}